<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head', {title: 'Producto Repetido'}) %>

<body>
    <%- include('../partials/header') %>
    <main>
        
        <!---------------------------- CATEGORIAS DE PRODUCTOS ---------------------------->
        <div class="divcontendor">
            <h2>EL producto que queres agregar ya existe!!</h2>
            <article class="productCountainer">
                <div class="divContenedorImg">
                    <img class="productImg" src=<%=product.image %> alt="producto">
                    <button class="botonProducto">Agregar al carrito</button>
                </div>
                <div class="detallesArticulo">
                    <h3><%= product.name %></h3>
                    <p class="pDetailProduct"><%= product.description %></p>
                    <% if (product.discount != 0) { %>
                        <div class="detallePreciosDescuento">
                            <p class="pDiscountProduct">- <%= product.discount %> % off</p>
                            <p class="pDiscountProduct pDetailProductDiscount">$ <%= product.price %></p>
                        </div>
                        <p class="precioActual">$ <%= price=(product.price * ((100-product.discount) / 100)).toFixed(0)%></p>
                    <% }else {%>
                        <p class="precioActual">$ <%= product.price %></p>
                    <% } %>
                    
                </div>
            </article>
        </div>
       
       
       
        <section class="paginaNotFound">

            <ul class="categoriasDelFooter1" id="categoriasDelFooter1">
                <a href="/products/category/tazas">
                    <li>Tazas, llaveros, pins, aros</li>
                </a>
                <a href="/products/category/indumentaria">
                    <li>Indumentaria y accesorios</li>
                </a>
                <a href="/products/category/figuras">
                    <li>Figuras</li>
                </a>
                <a href="/products/category/posters">
                    <li>Pósters y cuadros</li>
                </a>
                <a href="/products/category/mangas">
                    <li>Mangas y comics</li>
                </a>
            </ul>
            </div>
        </section>



    </main>

    <script src="/js/script.js"></script>
</body>

</html>