<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head', {title: 'Nuestros productos'}) %>

<body>
    <%- include('../partials/header') %>

    <main>

        <!----------------------------  ---------------------------->

        <div class="caracteristicasVentas">
            <h3>Objetos populares</h3>
            <h3>Envíos gratis</h3>
            <h3>Pagos sin interés</h3>
        </div>

        <!---------------------------- CARRUSEL DE PRODUCTOS ---------------------------->
        <!--------- VER COMO HACER PARA QUE EN MOBILE APAREZCAN DOS PRODUCTOS Y EN DESKTOP SE VEAN 4 --------->
        <!-- contenerdor carrusel -->
        <div class="carruselAnimado">
            <figure class="icon-cards mt-3">
                <div class="icon-cards__content">
                    <% for(let i = 0; i < 5; i++){ %> 
                    <div class="icon-cards__item d-flex align-items-center justify-content-center">
                        <div class="product_infoCard">
                            <a href="/products/ <%= offerProducts[i].id %>">
                                <img src=<%= offerProducts[i].image %>  alt="">
                                <h4> <%= offerProducts[i].name %> </h4>
                            </a>
                        </div>
                    </div>
                    <% } %> 
                </div>
            </figure>
        </div>
        <!---------------------------- FIN DEL CARRUSEL DE PRODUCTOS ---------------------------->

        
        <!---------------------------- PRODUCTOS EN OFERTA ---------------------------->
        <section>
            <h2 class="subtitulos">Productos en Oferta</h2>
            <!-- BUSCAR IMAGENES CUADRADAS O VERTICALES PARA PONER COMO PRODUCTOS -->
            <div class="cajaConProductosEnOferta">
                <% offerProducts.forEach(function(product){ %>
                <% let precioActual = (product.price - ((100 * product.discount) / product.price)).toFixed(0) %> 
                    <div class="productosEnOferta">
                        <a href="/products/ <%= product.id %>"> <img src= <%= product.image %> alt=""></a>
                        <div>
                            <h4><%= product.name %></h4>
                            <p class="porcentajeDescuento">- <%= product.discount %> % off</p>
                            <p class="precioAnterior">$ <%= product.price %> </p>
                            <p class="precioActual">$ <%= product.price * (100-product.discount) /100 %>  </p>
                            <a href="/products/cart" id="linkBotonAgregar"><button onclick="" class="botonAgregar">Agregar al carrito</button></a>
                        </div>
                    </div>  
                    <% }) %> 
            </div>
        </section>

        <section>
            <h2 class="subtitulos">Otros Productos</h2>
            <!-- BUSCAR IMAGENES CUADRADAS O VERTICALES PARA PONER COMO PRODUCTOS -->
            <div class="cajaConProductosEnOferta">
                <% noOfferProducts.forEach(function(product){ %>
                <div class="productosEnOferta">
                    <a href="/products/ <%= product.id %>"> <img src=<%= product.image %>  alt=""></a>
                    <!-- Link a la página del producto -->
                    <div>
                        <h4> <%= product.name %>  </h4>
                            <p class="precioActual">$ <%= product.price %>  </p>
                        <a href="/products/cart" id="linkBotonAgregar"><button onclick="" class="botonAgregar">Agregar al carrito</button></a>
                    </div>
                </div>
                <% }) %> 
            </div>
        </section>

        <section class="vistaAdmin">
            <h3>¿Sos admin de la página?</h3>
            <div class="botonesAdminEditarAgregar">
                <a href="/products/extractADMIN" class="botonEditar">Ver base de datos</a>
                <a href="/products/create" class="botonEditar">Agregar productos</a>
            </div>
            
        </section>

    </main>

    <%- include('../partials/footer') %>

    <script src="/js/script.js"></script>
</body>

</html>