<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head' , {title: title}) %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <form action="/products/<%= product.id %>?_method=PATCH" method="POST" enctype="multipart/form-data" class="create-form">
                    <div class="control-formulario-campos">
                        <h4 class="create-form-titulo">Editar producto: <i> <%= product.name %>  </i></h4>

                        <label for="name">Nombre del producto: </label>
                        <input type="text" value="<%= product.name %>" id="name" name="name" class="control" placeholder="Ejemplo: <%= product.name %>" required >

                        <label for="description">Descripción:</label>
                        <input type="text" value="<%= product.description %>" id="description" name="description" class="control" placeholder="Ejemplo: <%= product.description %>" required >

                        <label for="image">Imagen principal:</label>
                        <input type="file" value="<%= product.image %>" id="image" name="image" class="control" placeholder="Imagen del producto">

                        <label for="category">Categoría:</label>
                        <select id="category" name="category_id" class="control">
							<option value="" disabled>Elegí categoria</option>
                            <% allCategories.forEach(category => { %>
                                <option value="<%= category.id %>"
                                    <% if(product.categories.id == category.id){ %> 
                                        selected
                                    <% } %> 
                                    >
                                        <%= category.description %> 
                                </option>
                            <% }) %> 
						</select>

                        <label for="serie">Serie:</label>
                        <select id="serie" name="serie_id" class="control">
							<option value="" disabled>Elegí categoria</option>
                            <% allSeries.forEach(serie => { %>
                                <option value="<%= serie.id %>"
                                    <% if(product.series.id == serie.id){ %> 
                                        selected
                                    <% } %> 
                                    >
                                        <%= serie.description %> 
                                </option>
                            <% }) %> 
						</select>

                        <label for="price">Precio:</label>
                        <input type="number" value="<%= product.price %>" id="price" name="price" class="control" placeholder="<%= product.price %>" required >

                        <label for="discount">Descuento:</label>
                        <input type="number" value="<%= product.discount %>" id="discount" name="discount" class="control" placeholder="<%= product.discount %>" required>

                        <label for="stock">stock:</label>
                        <input type="number" value="<%= product.stock %>" id="stock" name="stock" class="control" placeholder="<%= product.stock %>" required>

                    </div>
                 
                    <button type="submit" class="botonAgregar botonLogin" onclick="">Editar producto</button>

                </form>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>