<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title: 'Productos' }) %>

    <body>
        <%- include('../partials/header') %>

            <main>

                <!----------------------------  ---------------------------->

                <div class="caracteristicasVentas">
                    <h3>Objetos populares</h3>
                    <h3>Envíos gratis</h3>
                    <h3>Pagos sin interés</h3>
                </div>



                <!---------------------------- TODOS NUESTROS PRODUCTOS ---------------------------->
                <section>
                    
                    <h2 class="subtitulos">Todos nuestros productos</h2>                    
                    
                    <div class="cajaConProductosEnOferta">
                        <% products.forEach(function(product){ %>
                            <div class="productosEnOferta">
                                <a href="/products/ <%= product.id %>"> <img src=<%=product.image %> alt=""></a>
                                <!-- Link a la página del producto -->
                                <div>
                                    <h4>
                                        <%= product.name %>
                                    </h4>
                                    <% if (product.discount != 0) { %>
                                        <p class="porcentajeDescuento">- <%= product.discount %> off
                                        </p>
                                        <p class="precioAnterior">$ <%= product.price %>
                                        </p>
                                        <p class="precioActual">$ <%= price=(product.price * ((100-product.discount) / 100)).toFixed(0)%>
                                        </p>
                                    <% }else {%>
                                        <p class="precioActual">$ <%= product.price %>
                                        </p>
                                    <% } %>
                                    
                                    <a href="/products/cart" id="linkBotonAgregar"><button onclick=""
                                            class="botonAgregar">Agregar al carrito</button></a>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </section>

                <section class="vistaAdmin" 
        <% if (locals.usuario == undefined) { %>
          style="visibility: hidden"
        <% } else if (locals.usuario.profile_id != 2) {%>
          style="visibility: hidden"
        <% } else { %>
          style="visibility:visible "
        <% } %>
        >
            <h3>¿Sos admin de la página?</h3>
            <div class="botonesAdminEditarAgregar">
                <a href="/products/extractADMIN" class="botonEditar">Ver base de datos</a>
                <a href="/products/create" class="botonEditar">Agregar productos</a>
            </div>
            
        </section>

            </main>

            <%- include('../partials/footer') %>

                <script src="/js/script.js"></script>
    </body>

</html>