<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title: title}) %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <div class="presentacion-producto">
                    <!-- AGREGAR FUNCIONALIDAD O SACAR -->
                    <!-- <div>
                        <input id="abrir-cerrar" name="abrir-cerrar" type="checkbox" value="" />
                        <label for="abrir-cerrar" class="toggle-button">
                            <span class="cerrar" title="Cerrar">Cerrar</span>
                            <span class="abrir" title="Abrir">Abrir</span>
                        </label>
                    </div> -->
                    <br>
                    <h2 class="nombre-producto">
                        <%= product.name %>
                    </h2>
                </div>
                <div class="divcontendor">
                    <article class="productCountainer">
                        <div class="divContenedorImg">
                            <img class="productImg" src=<%=product.image %> alt="producto">
                            <button class="botonProducto">Agregar al carrito</button>
                        </div>
                        <div class="detallesArticulo">
                            <h3><%= product.name %></h3>
                            <p class="pDetailProduct"><%= product.description %></p>
                            <% if (product.discount != 0) { %>
                                <div class="detallePreciosDescuento">
                                    <p class="pDiscountProduct">- <%= product.discount %> % off</p>
                                    <p class="pDiscountProduct pDetailProductDiscount">$ <%= product.price %></p>
                                </div>
                                <p class="precioActual">$ <%= price=(product.price * ((100-product.discount) / 100)).toFixed(0)%></p>
                            <% }else {%>
                                <p class="precioActual">$ <%= product.price %></p>
                            <% } %>
                            
                        </div>
                    </article>
                </div>

                <a href="/products/<%= product.id %>/edit" class="botonEditar"
                    
                    <% if (locals.usuario == undefined) { %>
                        style="visibility: hidden"
                      <% } else if (locals.usuario.profile_id != 2) {%>
                        style="visibility: hidden"
                      <% } else { %>
                        style="visibility:visible "
                      <% } %>
                      
                      >Editar este producto</a>

                <form action="/products/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                    <button type="submit" class="botonEditar botonEliminar"
                    
                    <% if (locals.usuario == undefined) { %>
                        style="visibility: hidden"
                      <% } else if (locals.usuario.profile_id != 2) {%>
                        style="visibility: hidden"
                      <% } else { %>
                        style="visibility:visible "
                      <% } %>

                    >ELIMINAR</button>
                </form>


                <section>
                    <h2 class="subtitulos">Otros productos similares...</h2>
                    <!-- <div class="products-Container"> -->

                    <div class="cajaConProductosEnOferta">
                        <% function getRandomArbitrary(min, max) { return Math.random() * (max - min) + min; } %>
                            <% let ant=0; %>
                                <% for(let x=0; x < 3; x++){ %>
                                    <% let num=getRandomArbitrary(1, products.length-1).toFixed(0) %>
                                        <% while(num==ant){ num=getRandomArbitrary(1, products.length-1).toFixed(0) } %>
                                            <div class="productosEnOferta productosEnOfertax3">
                                                <a href="/products/ <%= products[num].id %>"> <img
                                                        class="otherProductsImg" src=<%=products[num].image %>
                                                    alt=""></a>
                                                <!-- Link a la página del producto -->
                                                <div class="detallesOferta">
                                                    <h4>
                                                        <%= products[num].name %>
                                                    </h4>
                                                    <% if (products[num].discount != 0) { %>
                                                        <p class="porcentajeDescuento">- <%= products[num].discount %> off
                                                        </p>
                                                        <p class="precioAnterior">$ <%= products[num].price %>
                                                        </p>
                                                        <p class="precioActual">$ <%= price=(products[num].price * ((100-products[num].discount) / 100)).toFixed(0)%>
                                                        </p>
                                                    <% }else {%>
                                                        <p class="precioActual">$ <%= products[num].price %>
                                                        </p>
                                                    <% } %>
                                                    
                                                    <button onclick="" class="botonAgregar">Agregar al carrito</button>
                                                </div>
                                            </div>
                                            <% ant=num %>
                                                <%}%>
                    </div>
                    <!--      </div> -->

                    <section class="vistaAdmin" 
                    <% if (locals.usuario == undefined) { %>
                      style="visibility: hidden"
                    <% } else if (locals.usuario.profile_id != 2) {%>
                      style="visibility: hidden"
                    <% } else { %>
                      style="visibility:visible "
                    <% } %>
                    >
                        <h3>¿Sos admin de la página?</h3>
                        <div class="botonesAdminEditarAgregar">
                            <a href="/products/extractADMIN" class="botonEditar">Ver base de datos</a>
                            <a href="/products/create" class="botonEditar">Agregar productos</a>
                        </div>
                        
                    </section>

                </section>

            </main>
            <%- include('../partials/footer') %>
    </body>

</html>