<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <form action="/products/edit/<%= productToEdit.id %>?_method=PATCH" method="POST" class="create-form">
                    <div class="control-formulario-campos">
                        <h4 class="create-form-titulo">Editar producto: <i> <%= productToEdit.name %>  </i></h4>

                        <label for="name">Nombre del producto: </label>
                        <input type="text" value="<%= productToEdit.name %>" id="name" name="name" class="control" placeholder="Ejemplo: <%= productToEdit.name %>" required >

                        <label for="descripcion">Descripción:</label>
                        <input type="text" value="<%= productToEdit.descripcion %>" id="descripcion" name="descripcion" class="control" placeholder="Ejemplo: Material pvc resistente al agua" required >

                        <label for="imagen1">Imagen principal:</label>
                        <input type="file" value="<%= productToEdit.imagen1 %>" id="imagen1" name="imagen1" class="control" placeholder="Imagen del producto">

                        <label for="imagen2">Imagen secundaria 1:</label>
                        <input type="file" value="<%= productToEdit.imagen2 %>" id="imagen2" name="imagen2" class="control" placeholder="Imagen del producto">

                        <label for="imagen3">Imagen secundaria 2:</label>
                        <input type="file" value="<%= productToEdit.imagen3 %>" id="imagen3" name="imagen3" class="control" placeholder="Imagen del producto">

                        <label for="imagen4">Imagen secundaria 3:</label>
                        <input type="file" value="<%= productToEdit.imagen4 %>" id="imagen4" name="imagen4" class="control" placeholder="Imagen del producto">

                        <label for="categoria">Categoría:</label>
                        <select id="categoria" name="categoria" class="control">
							<option value="">Elegí</option>
							<option value="tazas">Tazas, llaveros, pins, aros</option>
							<option value="indumentaria">Indumentaria y accesorios</option>
                            <option value="figuras">Figuras</option>
                            <option value="posters">Pósters y cuadros</option>
                            <option value="mangas">Mangas y comics</option>
						</select>

                        <label for="precioAnterior">Precio:</label>
                        <input type="number" value="<%= productToEdit.precioAnterior %>" id="precioAnterior" name="precioAnterior" class="control" placeholder="<%= productToEdit.precioAnterior %>" required >

                        <label for="descuento">Descuento:</label>
                        <input type="number" value="<%= productToEdit.descuento %>" id="descuento" name="descuento" class="control" placeholder="<%= productToEdit.descuento %>" required>

                    </div>
                    <button type="submit" class="botonAgregar botonLogin" onclick="">Editar producto</button>

                </form>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>