<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head', {title: 'Nuestros productos'}) %>

<body>
    <%- include('../partials/header') %>

    <main>

        <!----------------------------  ---------------------------->

        <div class="caracteristicasVentas">
            <h3>Objetos populares</h3>
            <h3>Envíos gratis</h3>
            <h3>Pagos sin interés</h3>
        </div>

        <!---------------------------- CARRUSEL DE CATEGORIAS ---------------------------->
        <section class="container">
            <div class="sectionProduct sectionProductAnime first" onclick="location.href='/products/anime/1'">
              <div class="cont_title">
                <h1>Dragon Ball Z</h1>
                <!-- <h3>Categoría</h3> -->
              </div>
            </div>
            
            <div class="sectionProduct sectionProductAnime" onclick="location.href='/products/anime/2'">
              <div class="cont_title">
                <h1>Naruto</h1>
                <!-- <h3>Categoría</h3> -->
              </div>
            </div>
            <div class="sectionProduct sectionProductAnime" onclick="location.href='/products/anime/3'">
              <div class="cont_title">
                <h1>Jujutsu Kaisen</h1>
                <!-- <h3>Categoría</h3> -->
              </div>
          
            </div>
            <div class="sectionProduct sectionProductAnime" onclick="location.href='/products/anime/4'">
              <div class="cont_title">
                <h1>Boku No Hero</h1>
                <!-- <h3>Categoría</h3> -->
              </div>
          
            </div>
            <div class="sectionProduct sectionProductAnime" onclick="location.href='/products/anime/5'">
              <div class="cont_title">
                <h1>Pokemon</h1>
                <!-- <h3>Categoría</h3> -->
              </div>
          
            </div>
            <div class="sectionProduct sectionProductAnime" onclick="location.href='/products/anime/6'">
                <div class="cont_title">
                  <h1>Demon Slayer</h1>
                  <!-- <h3>Categoría</h3> -->
                </div>
            
              </div>
              <div class="sectionProduct sectionProductAnime" onclick="location.href='/products/anime/7'">
                <div class="cont_title">
                  <h1>Mi Vecino Totoro</h1>
                  <!-- <h3>Categoría</h3> -->
                </div>
            
              </div>
            </div>
            <div class="sectionProduct sectionProductAnime" onclick="location.href='/products/anime/8'">
              <div class="cont_title">
                <h1>Supernatural</h1>
                <!-- <h3>Categoría</h3> -->
              </div>
          
            </div>
          </div>
          <div class="sectionProduct sectionProductAnime" onclick="location.href='/products/anime/9'">
            <div class="cont_title">
              <h1>The Boys</h1>
              <!-- <h3>Categoría</h3> -->
            </div>
        
          </div>
        </div>
        <div class="sectionProduct sectionProductAnime" onclick="location.href='/products/anime/10'">
          <div class="cont_title">
            <h1>Otros</h1>
            <!-- <h3>Categoría</h3> -->
          </div>
      
        </div>
          </section>
        
        <!---------------------------- FIN DEL CARRUSEL DE CATEGORIAS ---------------------------->

        
        <!---------------------------- PRODUCTOS EN OFERTA ---------------------------->
        <section>
            <h2 class="subtitulos">Productos en Oferta</h2>
            <!-- BUSCAR IMAGENES CUADRADAS O VERTICALES PARA PONER COMO PRODUCTOS -->
            <div class="cajaConProductosEnOferta">
                <% offerProducts.forEach(function(product){ %>
                <% let precioActual = (product.price - ((100 * product.discount) / product.price)).toFixed(0) %> 
                    <div class="productosEnOferta">
                        <a href="/products/ <%= product.id %>"> <img src= <%= product.image %> alt=""></a>
                        <div>
                            <h4><%= product.name %></h4>
                            <p class="porcentajeDescuento">- <%= product.discount %> % off</p>
                            <p class="precioAnterior">$ <%= product.price %> </p>
                            <p class="precioActual">$ <%= product.price * (100-product.discount) /100 %>  </p>
                            <a href="/products/cart" id="linkBotonAgregar"><button onclick="" class="botonAgregar">Agregar al carrito</button></a>
                        </div>
                    </div>  
                    <% }) %> 
            </div>
        </section>

        <section>
            <h2 class="subtitulos">Otros Productos</h2>
            <!-- BUSCAR IMAGENES CUADRADAS O VERTICALES PARA PONER COMO PRODUCTOS -->
            <div class="cajaConProductosEnOferta">
                <% noOfferProducts.forEach(function(product){ %>
                <div class="productosEnOferta">
                    <a href="/products/ <%= product.id %>"> <img src=<%= product.image %>  alt=""></a>
                    <!-- Link a la página del producto -->
                    <div>
                        <h4> <%= product.name %>  </h4>
                            <p class="precioActual">$ <%= product.price %>  </p>
                        <a href="/products/cart" id="linkBotonAgregar"><button onclick="" class="botonAgregar">Agregar al carrito</button></a>
                    </div>
                </div>
                <% }) %> 
            </div>
        </section>

        <section class="vistaAdmin">
            <h3>¿Sos admin de la página?</h3>
            <div class="botonesAdminEditarAgregar">
                <a href="/products/extractADMIN" class="botonEditar">Ver base de datos</a>
                <a href="/products/create" class="botonEditar">Agregar productos</a>
            </div>
            
        </section>

    </main>

    <%- include('../partials/footer') %>

    <script src="/js/script.js"></script>
</body>

</html>