<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title: title}) %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <div class="presentacion-producto">
                    <div>
                        <input id="abrir-cerrar" name="abrir-cerrar" type="checkbox" value="" />
                        <label for="abrir-cerrar" class="toggle-button">
                            <span class="cerrar" title="Cerrar">Cerrar</span>
                            <span class="abrir" title="Abrir">Abrir</span>
                        </label>
                    </div>
                    <h2 class="nombre-producto"> <%= product.name %> </h2>
                </div>
                <div class="divcontendor">
                    <article class="productCountainer">
                        <img class="productImg" src= <%= product.image  %>  alt="producto">
                        <button class="botonProducto">
                            Agregar al carrito
                        </button>
                        <div class="detallesArticulo">
                            <h4> <%= product.name %> </h4>
                            <p> <%= product.description %> </p>
                            <p> <%= product.price %>  (Tax Included)</p>
                        </div>
                    </article>
                </div>
                <div class="contenedorMiniaturas">
                    <article class="miniaturasProducto">
                        <img class="imagenMiniatura" src= <%= product.image  %>
                        alt="boundoman1">
                    </article>
                    <article class="miniaturasProducto">
                        <img class="imagenMiniatura" src= <%= product.image %>
                         alt="boundoman2">
                    </article>
                    <article class="miniaturasProducto">
                        <img class="imagenMiniatura" src= <%= product.image %> 
                        alt="boundoman3">
                    </article>
                    <article class="miniaturasProducto">
                        <img class="imagenMiniatura" src= <%= product.image %>
                         alt="boundoman4">
                    </article>
                </div>

                <a href="/products/<%= product.id %>/edit" class="botonEditar">Editar este producto</a>

                <form action="/products/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                    <button type="submit" class="botonEditar botonEliminar">ELIMINAR</button>
                </form>

                               
               <section class="otherProducts-Container">
                <h3 class="titulo_seccion">Otros porductos similares...</h3>
                    <div class="products-Container">

                        <% function getRandomArbitrary(min, max) {
                            return Math.random() * (max - min) + min;
                          } %>
                        <% let ant = 0; %>  
                        <% for(let x = 0; x < 3; x++){ %> 
                        <% let num = getRandomArbitrary(1, products.length-1).toFixed(0) %> 
                        <% while(num == ant){
                            num = getRandomArbitrary(1, products.length-1).toFixed(0)
                        } %>
                        <div class="productosEnOfertaDetail">
                            <a href="/products/ <%= products[num].id %>"> <img class="otherProductsImg" 
                                src= <%= products[num].image %>  alt=""></a>
                            <!-- Link a la página del producto -->
                            <div class="detallesOferta">
                                <h4><%= products[num].name %></h4>
                                <p class="porcentajeDescuento">- <%= products[num].discount %> off</p>
                                <p class="precioAnterior">$ <%= products[num].price %></p>
                                <p class="precioActual">$ <%= price = (products[num].price - ((100 * products[num].discount) / products[num].price)).toFixed(0) %></p>
                                <button onclick="" class="botonAgregar">Agregar al carrito</button>
                            </div>
                        </div>
                        <% ant = num %> 
                        <%}%> 
                    </div>
               </section>
                
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>