<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title: 'Crear producto'}) %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <form action="/products/" method="POST" enctype="multipart/form-data" class="create-form">
                    <div class="control-formulario-campos">
                        <h4 class="create-form-titulo">Agregar nuevos productos</h4>

                        <label for="name">Nombre del producto: </label>
                        <input type="text" id="name" name="name" class="control" placeholder="Ejemplo: Llavero Pokemon" required >
                        <label for="description">Descripción:</label>
                        <input type="text" id="description" name="description" class="control" placeholder="Ejemplo: Material pvc resistente al agua" required >

                        <label for="image">Imagen principal:</label>
                        <input type="file" id="image" name="image" class="control" placeholder="Imagen del producto" required>

                        <label for="category">Categoría:</label>
                        <select id="category" name="category" class="control">
                            <% for(let i = 0; i < categories.length; i++){ %> 
                                <option value="<%= categories[i].id %>">
                                    <%= categories[i].description %> 
                                </option>
                                <% } %> 
						</select>

                        <label for="serie">Series:</label>
                        <select id="serie" name="serie" class="control">
                            <% for(let i = 0; i < series.length; i++){ %> 
                                <option value="<%= series[i].id %> ">
                                    <%= series[i].description %> 
                                </option>
                                <% } %> 
						</select>

                        <label for="price">Precio:</label>
                        <input type="number" id="price" name="price" class="control" placeholder="Precio del producto" required >

                        <label for="discount">Descuento:</label>
                        <input type="number" id="discount" name="discount" class="control" placeholder="Descuento del producto" required>

                        <label for="stock">Stock:</label>
                        <input type="number" id="stock" name="stock" class="control" placeholder="Stock del producto" required >

                    </div>
                    <button type="submit" class="botonAgregar botonLogin" onclick="">Agregar producto</button>

                </form>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>