<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head', {title: 'Login'}) %>

<body>
    <%- include('../partials/header') %>
    <main>
        <form action="/users/logueado" method="POST" class="create-form">
            <div class="control-formulario-campos">
                <h4 class="create-form-titulo">Inicia sesión</h4>
                <div class="">
                    <input 
                        type="email" 
                        name="Email" 
                        required
                        placeholder="Ingrese su Correo Electronico" 
                        class="control<%= locals.errors && errors.Email ? 'Invalid' : null %>" 
                        value="<%= locals.oldData ? oldData.Email : null %>"
                    >
                        <% if (locals.errors && errors.Email) { %>
                            <div class="text-danger">
                                <%= errors.Email.msg %> 
                            </div>
                        <% } %>
                </div>
                <div class="">
                    <input 
                        type="password" 
                        name="Password" 
                        required
                        placeholder="Ingrese su password" 
                        class="control<%= locals.errors && errors.Password ? 'Invalid' : null %>" 
                        value="">
                        <% if (locals.errors && errors.Password) { %>
                            <div class="text-danger">
                                <%= errors.Password.msg %> 
                            </div>
                        <% } %>
                </div>
                <label for="">Recordame</label>
                <input type="checkbox" id="recordame" name="recordame">
                
            </div>
            
            <button type="submit" class="botonAgregar botonLogin">Iniciar
                Sesión</button>
                <h5 style="color:#FF0000"><%= msg %></h5>
            <div class="control-formulario-redes_sociales">
                <h4 class="create-form-titulo">Ingresa con</h4>
                <a><i class="fav fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a><i class="fav fa-brands fa-google"></i></a>
            </div>
            <div class="control-formulario-registro">
                <p>¿Todavía no tenes cuenta?</p>
                
            </div>
        </form>
        
        <button type="submit" class="botonAgregar botonLogin"
                onclick="location.href='/users/register'">Registrate</button>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>