<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: 'Profile' }) %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <div class="create-form">
                    <div class="">
                        <img class="profile_img" src="<%= usuario.avatar %>" alt="avatar">
                        <% console.log(usuario.avatar) %> 
                    </div>
                    <h4 class="create-form-titulo">
                        <%= usuario.first_name %>
                            <%= usuario.last_name %>
                    </h4>
                    <div class="control-formulario-campos">
                        <p class="control<%= locals.errors && errors.nombre ? 'Invalid' : null %>"><%= usuario.first_name ? usuario.first_name : null %></p>
                        <p class="control<%= locals.errors && errors.nombre ? 'Invalid' : null %>"><%= usuario.last_name ? usuario.last_name : null %></p>
                        <p class="control<%= locals.errors && errors.Email ? 'Invalid' : null %>"><%= usuario.email ? usuario.email : null %></p>
                        <p class="control<%= locals.errors && errors.Direction ? 'Invalid' : null %>"><%= usuario.address ? usuario.address : null %></p>
                        <p class="control<%= locals.errors && errors.Phone ? 'Invalid' : null %>"><%= usuario.phone ? usuario.phone : null %></p>

                        
                    </div>
                    <button class="botonAgregar botonLogin" onclick="location.href='/users/profile/edit'">Editar perfil</button>
                    <button class="botonAgregar botonLogin" onclick="location.href='/users/logout'">Log out</button>
                </div>
            </main>

    <%- include('../partials/footer') %>

    <script src="/js/script.js"></script>
    </body>

</html>