<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head', {title: 'Registro'}) %>
<body>
    <%- include('../partials/header') %>
    <main>
        <form action="/users" method="POST" class="create-form" enctype="multipart/form-data" id="formRegistro">
            <h4 class="create-form-titulo">Registrate en nuestra página</h4>
            <ul class="errores"></ul>
            <div class="control-formulario-campos">
                <div class="">
                    <input 
                        type="text" 
                        name="nombre" 
                        placeholder="Ingresá tu nombre" 
                        class="control<%= locals.errors && errors.nombre ? 'Invalid' : null %>"   
                        value="<%= locals.oldData ? oldData.nombre : null %>"
                        id="formNameRegister"
                    >
                    <div id="nameRegister" class="userAdd"></div>
                        <% if (locals.errors && errors.nombre) { %>
                            <div class="text-danger">
                                <%= errors.nombre.msg %> 
                            </div>
                        <% } %>
                        <input 
                        type="text" 
                        name="apellido" 
                        placeholder="Ingresá tu apellido" 
                        class="control<%= locals.errors && errors.apellido ? 'Invalid' : null %>"   
                        value="<%= locals.oldData ? oldData.apellido : null %>"
                        id="formApellidoRegister"
                    >
                    <div id="apellidoRegister" class="userAdd"></div>
                        <% if (locals.errors && errors.apellido) { %>
                            <div class="text-danger">
                                <%= errors.apellido.msg %> 
                            </div>
                        <% } %>
                </div>

                <div class="">
                    <input 
                        type="text" 
                        name="DNI" 
                        placeholder="Ingresá su DNI" 
                        class="control<%= locals.errors && errors.DNI ? 'Invalid' : null %>" 
                        value="<%= locals.oldData ? oldData.DNI : null %>"
                        id="formDNIRegister"
                    >
                    <div id="dniRegister" class="userAdd"></div>
                        <% if (locals.errors && errors.DNI) { %>
                            <div class="text-danger">
                                <%= errors.DNI.msg %> 
                            </div>
                        <% } %>
                </div>

                <div class="">
                    <input 
                        type="text" 
                        name="Email" 
                        placeholder="Ingrese su Correo Electronico" 
                        class="control<%= locals.errors && errors.Email ? 'Invalid' : null %>" 
                        value="<%= locals.oldData ? oldData.Email : null %>"
                        id="formEmailRegister"
                    >
                    <div id="emailRegister" class="userAdd"></div>
                        <% if (locals.errors && errors.Email) { %>
                            <div class="text-danger">
                                <%= errors.Email.msg %> 
                            </div>
                        <% } %>
                </div>

                <div class="">
                    <input 
                        type="text" 
                        name="Direction" 
                        placeholder="Ingresá su Direccion" 
                        class="control<%= locals.errors && errors.Direction ? 'Invalid' : null %>" 
                        value="<%= locals.oldData ? oldData.Direction : null %>"
                        id="formDirectionRegister"
                    >
                    <div id="directionRegister" class="userAdd"></div>
                        <% if (locals.errors && errors.Direction) { %>
                            <div class="text-danger">
                                <%= errors.Direction.msg %> 
                            </div>
                        <% } %>
                </div>

                <div class="">
                        <select id="Country" name="Country" class="control">
                             <option selected="selected">Pais</option>
                            <% for(let i = 0; i < paises.length; i++){ %> 
                                <option value="<%= paises[i].id %>">
                                    <%= paises[i].description %> 
                                </option>
                                <% } %> 
						</select>
                        <div id="countryRegister" class="userAdd"></div>
                    <% if (locals.errors && errors.Country) { %>
                        <div class="text-danger">
                            <%= errors.Country.msg %> 
                        </div>
                    <% } %>
                </div>

                <div class="">
                    <input 
                        type="text" 
                        name="Phone" 
                        placeholder="Ingresá su Telefono" 
                        class="control<%= locals.errors && errors.Phone ? 'Invalid' : null %>"  
                        value="<%= locals.oldData ? oldData.Phone : null %>"
                        id="formPhoneRegister">
                        <div id="phoneRegister" class="userAdd"></div>
                        <% if (locals.errors && errors.Phone) { %>
                            <div class="text-danger">
                                <%= errors.Phone.msg %> 
                            </div>
                        <% } %>
                </div>

                <div class="">
                    <input 
                        type="date" 
                        name="Birthdate" 
                        placeholder="Ingresá su Fecha de nacimiento" 
                        class="control<%= locals.errors && errors.Birthdate ? 'Invalid' : null %>" 
                        value="<%= locals.oldData ? oldData.Birthdate : null %>"
                        id="formBirthdateRegister">
                        <div id="birthdateRegister" class="userAdd"></div>
                        <% if (locals.errors && errors.Birthdate) { %>
                            <div class="text-danger">
                                <%= errors.Birthdate.msg %> 
                            </div>
                        <% } %>
                </div>

                <div class="">
                    <input 
                        type="password" 
                        name="Password" 
                        placeholder="Ingresá su password" 
                        class="control<%= locals.errors && errors.Password ? 'Invalid' : null %>" 
                        value=""
                        id="formPasswordRegister">
                        <div id="passwordRegister" class="userAdd"></div>
                        <% if (locals.errors && errors.Password) { %>
                            <div class="text-danger">
                                <%= errors.Password.msg %> 
                            </div>
                        <% } %>
                </div>

                <div class="">
                    <input 
                        type="password" 
                        name="confirmPassword" 
                        placeholder="Confirma tu password" 
                        class="control<%= locals.errors && errors.confirmPassword ? 'Invalid' : null %>" 
                        value=""
                        id="formPasswordConfirmRegister">
                        <div id="passwordConfirmRegister" class="userAdd"></div>
                        <% if (locals.errors && errors.confirmPassword) { %>
                            <div class="text-danger">
                                <%= errors.confirmPassword.msg %> 
                            </div>
                        <% } %>
                </div>

                <div class="">
                    <input 
                        type="file" 
                        name="Avatar" 
                        placeholder="seleccione una imagen" 
                        class="control<%= locals.errors && errors.Avatar ? 'Invalid' : null %>" 
                        value=""
                        id="formImgRegister">
                        <div id="imageRegister" class="userAdd"></div>
                <% if (locals.errors && errors.Avatar) { %>
                    <div class="text-danger">
                        <%= errors.Avatar.msg %> 
                    </div>
                <% } %>
                </div>
                
            </div>
            <button type="submit" class="botonAgregar botonLogin" onclick="">Registrate</button>

            <div class="control-formulario-redes_sociales">
                <h4 class="create-form-titulo">Ingresa con</h4>
                <a><i class="fav fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a><i class="fav fa-brands fa-google"></i></a>
            </div>
            <div class="control-formulario-registro">
                <p>¿Ya tenes cuenta?</p>
                
            </div>
            <button type="submit" class="botonAgregar botonLogin" onclick="location.href='/users/login'">Inicia
                Sesión</button>
        </form>
    </main>
    <%- include('../partials/footer') %>

    <script src="/js/validacionRegister.js"></script>
</body>

</html>